/* reset */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  color: #888;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
}

input:focus {
  border:solid 1px #EEA34A;
  outline: none;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.m-auto {
  margin: auto;
}


.center {
  text-align: center;
}
/* header */

header.header {
  background:rgb(200, 20, 20);
  color: #fafafa;
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

header.header h1 {
  font-size: 2rem;
}

.header__search {
  color:#fafafa;
  width: 600px;
  margin: auto;
  padding: 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.header__search .input__word {
  height: 20px;
  width: 100%;
}

.header__search .btn_submit {
  height: 30px;
  width: 20%;
  margin-right: 10%
  background: #fafafa;
  color: rgb(200, 20, 20)
}

/* main */

main.main {
  width: 1200px;
  margin: auto;
}

.cakeContents__header {
  background: red;
  font-size: 16px;
}
