/* reset */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  color: #888;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

input {
  -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* header */

header.header {
  background:rgb(200, 20, 20);
  color: #fafafa;
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

header.header h1 {
  font-size: 2rem;
}

.header__search {
  background: #fafafa;
  color: rgb(200, 20, 20);
  width: 600px;
}

/* main */

main.main {
  width: 1200px;
  margin: auto;
}

.cakeContents__header {
  background: red;
  font-size: 16px;
}
